form {
  position: relative;
  margin-top: 35px;
}
form input {
  width: 100%;
  height: 60px;
  border-radius: 15px;
  background: #1e2a47;
  border-style: none;
  padding-left: 45px;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
}
input::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
}
form img {
  position: absolute;
  top: 20px;
  left: 15px;
}
button {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 84px;
  height: 46px;
  background: #0079ff;
  border-radius: 10px;
  border-style: none;
  color: white;
  cursor: pointer;
}
button:hover {
  background: #60abff;
}
.error {
  position: absolute;
  color: red;
  right: 100px;
  top: 20px;
}
