.App {
  margin: 0 auto;
  padding: 31px 24px 70px 24px;
  height: 100vh;
  overflow: hidden;
}
.container {
  max-width: 520px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .App {
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    max-width: 730px;
  }
}
